<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card-header">
      Inscription
    </div>
    <div class="card-body">
      <form action="/inscription" method="post">
        <div class="form-group">
          <label for="name">Nom :</label>
          <input class="form-control" type="text" id="name" name="user_name" />
          <label for="mail">mail :</label>
          <input class="form-control" type="mail" id="name" name="user_mail" />
          <label for="password">Mot de passe :</label>
          <input class="form-control" type="password" id="password" name="user_password"/>
        </div>
        <div class="form-group">
          <input class="btn btn-primary btn-block" type="submit" value="Valider" />
        </div>
    </div>
  </div>
</div>
